# All SpaceVim option below [option] section
[options]
    # set spacevim theme. by default colorscheme layer is not loaded,
    # if you want to use more colorscheme, please load the colorscheme
    # layer
    colorscheme = "gruvbox"
    background = "dark"
    # Disable guicolors in basic mode, many terminal do not support 24bit
    # true colors
    enable_guicolors = true
    # Disable statusline separator, if you want to use other value, please
    # install nerd fonts
    statusline_separator = "arrow"
    statusline_inactive_separator = "arrow"
    buffer_index_type = 4
    enable_tabline_filetype_icon = true
    enable_statusline_display_mode = false
    max_column = 80
    automatic_update = true
    project_rooter_automatically = 0
    vimcompatible = true

# Enable autocomplete layer
[[layers]]
name = 'autocomplete'
auto-completion-tab-key-behavior = "smart"

[[layers]]
name = 'shell'
default_position = 'top'
default_height = 30

[[layers]]
  name = "tools"

[[layers]]
name = 'lang#solidity'

[[layers]]
name = "lang#ocaml"

[[layers]]
name = "lang#haskell"

[[layers]]
  name = "lang#python"
  python_file_head = [
      '#!/usr/bin/env python3',
      '# -*- coding: utf-8 -*-',
      '',
      ''
  ]

[[custom_plugins]]
  name='bohlender/vim-smt2'

[[layers]]
  name = "lang#rust"

[[layers]]
  name = "lang#racket"

[[layers]]
  name = "lang#c"

[[layers]]
  name = "lang#java"

[options]
    bootstrap_before = "neomake_python_config#before"
    project_rooter_automatically = 0
    project_auto_root = 0

[[layers]]
    name = 'core'
    enable_smooth_scrolling = false
